include CHANGELOG.md
include README.md
include LICENSE

include src/pgcopylib/core/*.pyi
recursive-include src/pgcopylib *.pyi

exclude src/pgcopylib/core/*.c
exclude src/pgcopylib/core/*.pxd
exclude src/pgcopylib/core/*.pyx
recursive-exclude src/pgcopylib *.c
recursive-exclude src/pgcopylib *.pxd
recursive-exclude src/pgcopylib *.pyx

exclude *.c
exclude *.pxd
exclude *.pyx
exclude src/*.c
exclude src/*.pxd
exclude src/*.pyx
exclude src/**/*.c
exclude src/**/*.pxd
exclude src/**/*.pyx
global-exclude *.c
global-exclude *.pxd
global-exclude *.pyx
